<nav class="navbar  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="">
        <img src="./../../../../assets/logo_fh.png" style="max-width: 30px;" class="d-inline-block align-top">
        Member of itelligence
      </a>
    </div>
    <ol>
      <a href="">Inicio</a>
      <a href="favorite">Favoritos</a>
      <a href="searchFilms">Pesquisar Filmes</a>
    </ol>
  </div>
</nav>
<div style="margin-top: 10px; margin-bottom: 20px;">
  <router-outlet></router-outlet>
</div>